<div class="px-8 py-16 bg-gray-800">

  <app-header
    title="Professional Skills"
    description="I design, build and support websites and apps for clients worldwide."
  ></app-header>

  <div class="flex flex-col space-y-8">
    <app-about-me-skill-progress-bar title="Photoshop" level="75"></app-about-me-skill-progress-bar>
    <app-about-me-skill-progress-bar title="After Effects" level="50"></app-about-me-skill-progress-bar>
    <app-about-me-skill-progress-bar title="Illustrator" level="20"></app-about-me-skill-progress-bar>
    <app-about-me-skill-progress-bar title="InDesign" level="60"></app-about-me-skill-progress-bar>
  </div>
</div>
