<div class="px-8 py-16">
  <app-header
    classes="text-black"
    title="About Me"
    description="I design, build and support websites and apps for clients worldwide."
  ></app-header>

  <div class="grid gap-8 grid-cols-1 md:grid-cols-3">
    <app-service-card image="web" title="Web Design" description="From image sliders to custom content elements and contact forms, Incubator theme is guaranteed to display properly on all major devices."></app-service-card>
    <app-service-card image="camera" title="Photography" description="From image sliders to custom content elements and contact forms, Incubator theme is guaranteed to display properly on all major devices."></app-service-card>
    <app-service-card image="pen" title="Copywriting" description="From image sliders to custom content elements and contact forms, Incubator theme is guaranteed to display properly on all major devices."></app-service-card>
  </div>
</div>
