<div class="px-8 py-16">
  <div class="py-8">
    <h1 class="text-3xl font-bold mb-4">About Me</h1>
    <p class="text-gray-500">I design, build and support websites and apps for clients worldwide.</p>
  </div>

  <div class="grid gap-8 grid-cols-1 md:grid-cols-3">
    <app-service-card image="web" title="Web Design" description="From image sliders to custom content elements and contact forms, Incubator theme is guaranteed to display properly on all major devices."></app-service-card>
    <app-service-card image="camera" title="Photography" description="From image sliders to custom content elements and contact forms, Incubator theme is guaranteed to display properly on all major devices."></app-service-card>
    <app-service-card image="pen" title="Copywriting" description="From image sliders to custom content elements and contact forms, Incubator theme is guaranteed to display properly on all major devices."></app-service-card>
  </div>
</div>
